<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      <img
        id="logo"
        src="../../../images/blogressB.jpg"
        alt="Logo image"
        width="30"
        height="30"
      />
    </a>

    <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row">
      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/games">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Usuários</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
