<%- include ("./partials/head.ejs") %> <%- include
("./partials/homeNavbar.ejs") %>

<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Sobre o PlaySphere</h3>
        <p class="card-text">
          PlaySphere
        </p>        
      </div>
    </div>
  </div>
</body>

<%- include ("./partials/footer.ejs") %>
